* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

body main {
    align-items: center;
    background-color: hsl(223, 19%, 93%);
    color: #7C7C7C;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 1rem;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    height: auto;
    width: 70%;    
}
.comment {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    height: 30%;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;   
    width: 100%;        
}

.comment__score {
    align-items: center;
    background-color: hsl(223, 19%, 93%);
    border-radius: 5px;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1rem;        
    width: 3rem;
}

.comment__score span {
    color: #5B59A1;    
    font-weight: bold;
}

.comment__score img {
    cursor: pointer;    
}

.comment__info {
    align-items: center;    
    display: flex;
    justify-content: space-between;    
    width: 15rem;    
}

.comment__info_avatar {
    height: 2.2rem;
}

.comment__info_user {
    color: #384046;
    font-weight: bold;
}

.comment__topline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.comment__actions {
    align-items: center;    
    display: flex;
    justify-content: flex-end;        
    width: 20rem;
}

.comment__actions_button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 2rem;
}

.comment__actions img {
    margin-right: 0.5rem;
}

.comment__textarea {    
    border: 1px solid #DCDDE0;
    border-radius: 5px;
    height: 100%;
    resize: none;
    width: 76%;
    padding: 1rem;
}

.comment__textarea:focus {
    outline: 1px solid #5358B6;
}

.comment_send {        
    align-items: flex-start;    
    margin-bottom: 0;
}

.comment__send_button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5358B6;
    color: white;
    font-size: 1rem;
    height: 2.5rem;
    text-transform: uppercase;
    width: 10rem;
}

.comment_reply {
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    display: flex;
    height: 20%;
    justify-content: space-between;
    margin-bottom: 1rem;
    left: 20%;
    padding: 1rem;
    position: relative;
    width: 80%;    
}

.comment_reply__textarea {
    border: 1px solid #DCDDE0;
    border-radius: 5px;
    height: 100%;
    resize: none;
    width: 70%;
    padding: 1rem;
}

.comment_reply__textarea:focus {
    outline: 1px solid #5358B6;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.modal h1 {
    margin-bottom: 1rem;
    color: #3C3E41;
}

.modal p {
    margin-bottom: 1rem;
    width: 20rem;
}

.comment_update__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.comment__bottomline {
    width: 100%;
}

.comment__bottomline textarea { 
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.comment__bottomline button {
    float: right;
}

.comment__info_tag {
    align-items: center;
    background-color: #5357B6;    
    border-radius: 2px;
    color: white;
    display: flex;
    font-size: 0.7rem;
    justify-content: center;    
    height: 1rem;
    width: 2rem;    
}

.invisible {
    display: none;
}

.disabled {
    opacity: 0.5;
}

.purple_font {
    color: #5357B6;
}

.red_font {
    color: #ED6368;
}

.red_bg {
    background-color: #ED6368;
    font: white;
}

.gray_bg {
    background-color: #68727E;
    color: white;
}